allure-pytest==2.9.45
assertpy==1.1
cx-Oracle==8.3.0
pipenv==2021.11.15
pytest==6.2.5
#pytest-cov==2.12.1
pytest-fixtures==0.1.0
pytest-html==3.1.1
pytest-order==1.0.0
#pytest-reporter==0.5.1
#pytest-reporter-html1==0.8.2
selenium==4.1.0
webdriver-manager==3.5.2
pytest-check
msedge-selenium-tools ==3.141.3
browserstack-local
pytest-csv
pytest-xdist==2.4.0
pytest-assume
pytest-rerunfailures == 10.2
pillow
ddt
