allure-pytest
allure-python-commons
apipkg
Appium-Python-Client
astroid
atomicwrites
attrs
certifi
chardet
colorama
ddt
execnet
glob2
idna
iniconfig
isort
Jinja2
jsonpath
lazy-object-proxy
Mako==1.1.3
MarkupSafe
mccabe
more-itertools
MouseInfo
nose
ordering
packaging
parse
parse-type
Pillow
pluggy
py
PyAutoGUI
PyGetWindow
pylint
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
pytest
pytest-bdd
pytest-fixtures
pytest-forked
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
PyTweening
pyverilog
requests
responses
selenium
six
toml
urllib3
wrapt
xlrd
