allure-pytest==2.12.0
assertpy==1.1
cx-Oracle==8.3.0
pipenv==2023.2.4
pytest==7.2.1
pytest-cov==4.0.0
pytest-fixtures==0.1.0
pytest-html==3.2.0
pytest-order==1.0.1
#pytest-reporter==0.5.2
#pytest-reporter-html1==0.8.2
pytest-rerunfailures==11.1
#pytest-sugar==0.9.5
pytest-xdist==3.2.0
requests==2.28.2
selenium==4.8.0
webdriver-manager==3.8.5
xlrd==2.0.1
browserstack-local==1.2.4
pytest-csv
pillow==9.4.0
